<a href="https://colab.research.google.com/github/Mirrga/HomeWorks/blob/main/Data_base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Создание базы данных и таблиц
Создайте базу данных library.db и таблицу books с полями:

id (PRIMARY KEY, AUTOINCREMENT),
title (TEXT, NOT NULL),
author (TEXT, NOT NULL),
year_published (INTEGER),
genre (TEXT).

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
create_table_query = '''
    CREATE TABLE IF NOT EXISTS
    books (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT NOT NULL,
        author TEXT NOT NULL,
        year_published INTEGER,
        genre TEXT
    )
'''
cursor.execute(create_table_query)
connection.commit()
connection.close()

2. Вставка данных
Добавьте в таблицу books следующие записи:

"The Great Gatsby", автор: F. Scott Fitzgerald, год: 1925, жанр: Fiction.
"1984", автор: George Orwell, год: 1949, жанр: Dystopian.
"To Kill a Mockingbird", автор: Harper Lee, год: 1960, жанр: Classic.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
insert_query = '''
INSERT INTO books (title, author, year_published, genre)
VALUES(?, ?, ?, ?)
'''
books_data = [
    ("The Great Gatsby", 'F. Scott Fitzgerald', 1925, 'Fiction'),
    ("1984", 'George Orwell', 1949, 'Dystopian'),
    ("To Kill a Mockingbird", 'Harper Lee', 1960, 'Classic')
]

cursor.executemany(insert_query, books_data)
connection.commit()

3. Выборка всех данных
Напишите запрос, который выбирает все книги из таблицы books.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT * FROM books
'''
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

4. Фильтрация данных
Выберите все книги, опубликованные после 1950 года.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT * FROM books WHERE year_published > 1950
'''
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

5. Использование оператора LIKE
Найдите все книги, название которых начинается с буквы "T".

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT * FROM books WHERE title LIKE 'T%'
'''
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

6. Сортировка данных
Отсортируйте книги по году публикации в порядке возрастания.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT * FROM books ORDER BY year_published
'''
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

7. Ограничение количества строк
Выберите первые две книги из таблицы books, отсортированные по названию.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT * FROM(
    SELECT * FROM books LIMIT 2
)   AS limited_books ORDER BY title
'''
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

8. Агрегатные функции
Подсчитайте общее количество книг в таблице books.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT COUNT(*) AS total_books FROM books
'''
cursor.execute(select_query)
res = cursor.fetchone()
print(f'Всего книг: {res}')

9. Группировка данных
Подсчитайте количество книг для каждого жанра.

In [ ]:
coding=utf-8
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT genre, COUNT(*) AS count FROM books GROUP BY genre
'''
cursor.execute(select_query)
res = cursor.fetchall()
print(f'Количество книг каждого жанра: {res}')

10. Обновление данных
Обновите год публикации книги "1984" на 1948.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
update_query = '''
UPDATE books
SET year_published = ?
WHERE title = ?
'''
new_year = 1948
book_title = '1984'
cursor.execute(update_query, (new_year, book_title))
connection.commit()
connection.close()

11. Удаление данных
Удалите книгу с названием "The Great Gatsby".

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
delete_query = '''
DELETE FROM books WHERE title = ?
'''
book_title = '"The Great Gatsby"'
cursor.execute(delete_query, (book_title,))
connection.commit()
connection.close()

12. Создание индекса
Создайте индекс для столбца author в таблице books.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
create_index_query = '''
CREATE INDEX IF NOT EXISTS idx_books_author
ON books (author)
'''
cursor.execute(create_index_query)
connection.commit()
connection.close()

13. Проверка существования индекса
Проверьте, существует ли индекс для столбца author.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
cursor.execute('''
SELECT name FROM sqlite_master WHERE type='index' AND
name='idx_books_author'
''')
result = cursor.fetchone()

if result:
    print(f"Индекс '{result[0]}' существует.")
else:
    print("Индекс не существует.")
connection.close()

14. Триггер для логирования
Создайте триггер, который записывает изменения в таблицу logs при добавлении новой книги.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    year_published INTEGER,
    genre TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS book_logs (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    book_id INTEGER,
    action TEXT,
    timestamp DATETIME DEFAULT CURRENT_TIMESTAMP
)
''')

create_trigger_query = '''
CREATE TRIGGER IF NOT EXISTS log_book_changes
AFTER INSERT ON books
FOR EACH ROW
BEGIN
    INSERT INTO book_logs (book_id, action)
    VALUES (NEW.id, 'INSERT');
END;
'''

cursor.execute(create_trigger_query)
connection.commit()
connection.close()

15. Транзакции
Создайте программу, которая выполняет следующие действия в рамках одной транзакции:

1.Добавляет новую книгу.

2.Обновляет год публикации другой книги.

3.Отменяет изменения, если возникает ошибка.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()

try:
    cursor.execute('BEGIN TRANSACTION')

    cursor.execute('''
    INSERT INTO books (title, author, year_published, genre)
    VALUES (?, ?, ?, ?);
    ''', ('Le Petit Prince', 'Antoine de Saint-Exupery', 1943, 'philosophical tale'))

    cursor.execute('''
    UPDATE books
    SET year_published = year_published + 5
    WHERE title = ?;
    ''', ('"To Kill a Mockingbird"',))

    connection.commit()
    print("Транзакция успешно завершена.")
except Exception as e:
    connection.rollback()
    print(f"Ошибка: {e}. Изменения отменены.")
finally:
    connection.close()

16. Пользовательская функция
Создайте пользовательскую функцию на Python, которая вычисляет возраст книги (текущий год минус год публикации), и используйте её в SQL-запросе.

In [ ]:
import sqlite3
def calculate_age(year_published):
    from datetime import datetime
    current_year = datetime.now().year
    return current_year - year_published

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
connection.create_function("calculate_age", 1, calculate_age)
cursor.execute('''
SELECT title, calculate_age(year_published) AS year_published FROM books;
''')

rows = cursor.fetchall()
for row in rows:
    print(row)

connection.close()

17. Представления
Создайте представление modern_books, которое содержит книги, опубликованные после 1950 года.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
cursor.execute('''
CREATE VIEW IF NOT EXISTS modern_books AS
SELECT * FROM books WHERE year_published > 1950;
''')

cursor.execute('SELECT * FROM modern_books;')

rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

18. Удаление таблицы
Удалите таблицу books и проверьте её существование.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
cursor.execute('''
SELECT name FROM sqlite_master WHERE type='table' AND name='books';
''')
result = cursor.fetchone()
if result:
    print("Таблица 'books' существует. Удаляем...")
    cursor.execute('DROP TABLE books')
else:
    print("Таблица 'users' не существует.")
connection.commit()
connection.close()

19. Композитный индекс
Создайте композитный индекс для столбцов author и year_published в таблице books.

In [ ]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
create_composite_index_query = '''
CREATE INDEX IF NOT EXISTS idx_books_author_year_published
ON books (author, year_published);
'''
cursor.execute(create_composite_index_query)
connection.commit()
connection.close()

20. Удаление базы данных
Напишите программу, которая удаляет файл базы данных library.db, если он существует.

In [ ]:
import os
db_file = 'library.db'

if os.path.exists(db_file):
    print(f"Удаляем базу данных '{db_file}'...")
    os.remove(db_file)
else:
    print(f"База данных '{db_file}' не существует.")